/* Tổng quát */
body {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
  }
  
  /* Main */
main {
    font-family: "Poppins", sans-serif;
    text-align: left;
    font-weight: 600;
    padding: 20px ;
    
}
  
 main h1 {
    font-size: 32px;
    color: #7C6F56;
    margin-left: 120px;
 }
  
 main p {
    font-size: 22px;
    margin-left: 120px;
 }
  
 .action-btn-container {
    display: flex;
    justify-content: center; /* Căn giữa */
    margin-top: 50px;
  }

 .action-btn {
    background-color: #7DDB18;
    color: white;
    font-size: 22px;
    font-weight: 600;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .action-btn svg {
    height: 1.1em; /* Điều chỉnh chiều cao của SVG nhỏ hơn chiều cao chữ */
    width: auto;
    margin-left: 14px; /* Thêm khoảng cách giữa logo và text */
  }
  
 .action-btn:hover {
    background-color: #89c37a;
  }
  
  
  