.cart {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 120px;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.cart-container {
  display: flex;
  gap: 20px;
}

.item-list,
.order-details {
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.item-list {
  transition: transform 0.3s ease-in-out;
}

.order-details {
  display: none;
  transition: transform 0.3s ease-in-out;
}

.show-details .item-list {
  transform: translateX(-100%); /* Dạt sang trái */
}

.show-details .order-details {
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
}

button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.order-summary {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.cart-container {
  display: flex;
}

.cart-container .item-list {
  flex: 2;
  margin-right: 20px;
}

.cart-container .order-details {
  flex: 3;
}

.order-details ul {
  list-style: none;
  padding: 0;
}

.order-details li {
  margin-bottom: 10px;
}

.order-details button {
  background-color: #f39c12;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.order-details button:hover {
  background-color: #e67e22;
}
