.pickup-sucess main {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Đảm bảo chiều cao đầy đủ */
  padding: 20px;
  flex-grow: 1;
  background: linear-gradient(180deg, #f4f9f4 0%, #e8f5e9 100%); /* Nền nhẹ nhàng với tông xanh nhạt */

}

.pickup-sucess main h2 {
  display: flex;
  text-align: center;
  justify-content: center; 
  background: linear-gradient(180deg, #000 0%, #7C6F56 100%); /* Gradient từ đen (#000) đến màu nâu (#7C6F56) */
  background-clip: text; /* Chỉ áp dụng background vào vùng văn bản */
  -webkit-background-clip: text; /* Tương thích với các trình duyệt dựa trên WebKit */
  -webkit-text-fill-color: transparent; /* Đặt màu văn bản là trong suốt để chỉ nhìn thấy gradient */
  font-size: 24px;
  margin-top: 110px;
}

.pickup-sucess .delivery-box {
  width: 450px; /* Đặt chiều rộng của box */
  border-radius: 10px;
  background: #F5F5F5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex; /* Để căn chỉnh nội dung nếu cần */
  text-align: center;
  margin: 5px auto; /* Canh giữa box trong trang */
  padding: 10px 30px 10px 30px;
  box-sizing: border-box; /* Đảm bảo padding không ảnh hưởng đến kích thước */
  flex-direction: column; /* Xếp nội dung theo chiều dọc */
  gap: 5px;
  margin-top: 35px;
}

.pickup-sucess .delivery-box p {
  margin: 10px 0; /* Khoảng cách giữa các đoạn văn */
  color: #000000; /* Màu chữ */
  font-size: 16px;
  text-align: left;
}

.pickup-sucess .icon {
  margin-right: 10px;
  
}

.pickup-sucess .action-btn-container {
  display: flex;
  justify-content: center; /* Căn giữa */
  margin-top: 55px;
  gap: 90px; /* Thêm khoảng cách giữa các nút */
  flex-direction: row; /* Đảm bảo các button nằm ngang */
}

.pickup-sucess .action-btn {
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.pickup-sucess .sucess-btn {
  background-color: #e9bb22;
  
}

.pickup-sucess .sucess-btn:hover {
  background-color: #8e6212;
}



