@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Thay đổi phông chữ ở đây */

.navbar {
    /* padding: 20px 0px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #894306; */
    background: linear-gradient(45deg, #a77905 0%, #cd9a19 60%, #f6d232 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-left {
    display: flex;
    gap: 20px;
    align-items: center;
    color: #000000;
    /* font-family: "Monoton", serif; */
}

.navbar-left .yummygo {
    font-size: 30px;
    font-family: 'Monoton', cursive; /* Sử dụng phông chữ Monoton */
}

.navbar-center {
    display: flex;
    justify-content: center; /* Hoặc sử dụng space-between */
    align-items: center;
    gap: 20px; /* Khoảng cách giữa các thành phần */
    font-family: 'Roboto', sans-serif; /* Sử dụng phông chữ mới */
}

.navbar-center button{
    border: nonw;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}

.navbar-center p {
    color: #000000;
    cursor: pointer;
    font-family: 'Roboto', sans-serif; /* Sử dụng phông chữ Roboto */
}

.navbar p {
    margin-top: 10px;
    color: #892e00;
    cursor: pointer;
}


.navbar-right{
    display: flex;
    gap: 20px;
    padding-right: 50px;
}

.navbar-right button {
    list-style: none;
    /* font-family: 'Monoton', cursive; */
    cursor: pointer;
}




/* @media (max-width: 1200px) {
    .navbar-left {
        display: flex;
        width: 100px;
    }
    .navbar-center {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
        font-size: 18px;
    }
} */

