@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Thay đổi phông chữ ở đây */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=person");


.navbar {
    /* padding: 20px 0px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #894306; */
    background: linear-gradient(45deg, #a77905 0%, #cd9a19 60%, #f6d232 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px;
}

.navbar-left p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .navbar-center {
    flex-grow: 1;
    text-align: center;
  }
  
  .search-bar input {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 250px;
  }
  
  .search-results {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: absolute;
    width: 250px;
    z-index: 1;
  }
  
  .search-results li {
    padding: 5px;
    cursor: pointer;
  }
  
  .search-results li:hover {
    background-color: #f1f1f1;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .navbar-icon {
    font-size: 30px;
    cursor: pointer;
  }
  
  .user-menu {
    position: relative;
  }
  
  .user-dropdown {
    position: absolute;
    top: 35px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user-dropdown button {
    background: none;
    border: none;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
    width: 100%;
  }
  
  .user-dropdown button:hover {
    background-color: #f1f1f1;
  }
