.deliver-to-customer main {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  flex-grow: 1;
  text-align: center;
  background: linear-gradient(180deg, #f4f9f4 0%, #e8f5e9 100%);
  gap: 20px; /* Tăng khoảng cách giữa các thành phần */
}

.deliver-to-customer main h2 {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #000 0%, #7C6F56 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 700;
  margin-top: 80px;
}

.deliver-to-customer .order-info-box,
.deliver-to-customer .payment-box,
.deliver-to-customer .contact-box {
  width: 90%;
  max-width: 400px; /* Đảm bảo không vượt quá kích thước này */
  margin: auto;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tạo bóng nhẹ */
  padding: 20px;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s; /* Hiệu ứng hover */
}

.deliver-to-customer .order-info-box:hover,
.deliver-to-customer .payment-box:hover,
.deliver-to-customer .contact-box:hover {
  transform: translateY(-5px); /* Nhô lên khi hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Bóng đổ sâu hơn */
}

.deliver-to-customer .order-info-box h3,
.deliver-to-customer .payment-box p,
.deliver-to-customer .contact-box .contact-section span {
  font-weight: 600;
}

.deliver-to-customer .action-btn-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.deliver-to-customer .action-btn {
  background-color: #E97522;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Hiệu ứng hover */
}

.deliver-to-customer .action-btn:hover {
  background-color: #f97b20;
  transform: scale(1.05); /* Phóng to nhẹ */
}

.deliver-to-customer .contact-buttons button {
  background-color: #DBA718;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.deliver-to-customer .contact-buttons button:hover {
  background-color: #c99318; /* Tông màu tối hơn */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Bóng đổ mạnh hơn */
}
