.header {
  background: linear-gradient(90deg, #2b7e2e 0%, #66BB6A 50%, #81C784 100%);
  color: #FFFFFF;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0; /* Sát phía trên */
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Căn lề trái */
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Thêm bóng mờ để tạo chiều sâu */
}

.logo {
  font-family: 'Monoton', sans-serif !important;
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.logo-link {
  text-decoration: none; /* Không gạch dưới */
  color: inherit; /* Giữ màu chữ như mặc định */
  display: flex;
  align-items: center;
}

.yummy-text {
  font-family: 'Monoton', sans-serif !important;
  font-size: 38px;
  font-weight: 400;
  text-transform: capitalize;
  color: #FFFFFF; /* Giữ màu trắng nổi bật */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); /* Thêm bóng cho chữ */
}

.driver-text {
  font-family: 'Monofett', sans-serif !important;
  font-size: 38px;
  font-weight: 400;
  text-transform: capitalize;
  color: #F8F8F8;
}

@media (max-width: 768px) {
  .header {
    height: 60px; /* Giảm chiều cao của header */
    padding: 0 10px; /* Giảm padding */
  }

  .logo {
    margin-left: 10px; /* Giảm lề trái */
    font-size: 25px; /* Giảm kích thước font chữ logo */
  }

  .yummy-text,
  .driver-text {
    font-size: 22px; /* Giảm kích thước font chữ của text */
  }
}

@media (max-width: 480px) {
  .header {
    height: auto; /* Cho phép header tự động điều chỉnh chiều cao */
    padding: 10px 5px;
    
  }

  .logo {
    margin: 0; /* Xóa margin */
    font-size: 22px; /* Giảm kích thước font chữ thêm nữa */
  }

  .yummy-text,
  .driver-text {
    font-size: 18px; /* Giảm kích thước font chữ nhỏ hơn cho màn hình rất nhỏ */
  }
}