/* Toggle.css */
.Toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.toggle-btn {
    background-color: #b7b9ba;
    border: 1px solid #ffffff;
    border-radius: 99px;
    width: 50px;
    height: 28px;
    transition: background-color 0.1s ease, boder-color 0.2s ease;
    cursor: pointer;
    position: relative
}
  
  .toggle-btn .thumb {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 99px;
    transform: translateX(0);
    transition: left 0.15s ease;
    position: absolute;
    left: 3px;
    top:50%;
    transform: translateY(-50%);
  }
  
  .toggle-btn.toggled {
    background-color: #61CE21; 
  }
  
  

  .toggle-btn.toggled .thumb {
    left: calc(50px - 25px);
  }
  